# Secrets and keys
.gc/
*.json
*.pem
*.key

# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# dbt logs and target
dbt_project/fintech_dbt/logs/
dbt_project/fintech_dbt/target/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
